.card {
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    box-shadow: 1em black;
}

.currentCourse {
    border: 1px solid red;
}

.paginButton {
    margin: 4px;
}

.buttonRight {
    margin-left: auto;
}

.buttons {
    display: flex;
    position: absolute;
    align-items: center;
    height: 100vh;
    width: 100%;
}